[2015-09-16 08:57] Bektaz opened #1 "Write a function that returns a perfect suare number"
Write a function that returns a perfect suare number and the square root of that number. See details in checkRoot/README.md

[2015-09-16 09:28] Bektaz opened #2 "Write getNumberLength function"
Write a function in getNumberLength.js file which helps to correctly define the length of given number. Further details in getNumberLength/README.md file.

[2015-09-16 09:41] iteles opened #4 "Add readme and description to this repo"
Hi @Bektaz,

You created this `js` repo in the codingforeveryone organisation rather than on your personal account which we  take to mean that this is a resource for the whole community to benefit from :tada: :clap:

Could you please add both a _description_ and a _readme_ to the repo so that **everyone may understand what the repo is about and how it should be used**?

Thank you again for taking

[2015-09-16 10:45] Bektaz commented on #4
Hi @iteles,

I added description and README.md file. Can you have a look please?
Thanks!

[2015-09-16 12:38] iteles commented on #4
@Bektaz So it's a repo where people can post Javascript problems in order to practice their Javascript skills?

[2015-09-16 12:50] Bektaz commented on #4
@iteles,

Exactly

[2015-09-16 13:27] micklondon commented on #4
Hello coding for everyone,

I signed up for the course but wasn't selected I do however get mails from
students.

On Wed, 16 Sep 2015 14:51 Bektaz <notifications@github.com> wrote:

--
Mick Pedroli.
69 Wisteria Apartments
33-43 Chatham Place
London  E9 6FB
078 77 11 88 93

[2015-09-16 13:53] nelsonic commented on #4
@micklondon be *careful* about sharing enough ***personal information*** for someone to "borrow" your identity on the internet ... (*I highly recommend you edit that last comment to remove your home address and mobile phone number...*)

You are receiving these emails because we *very much* want you to be a part of the **codingforeveryone** ***community*** (*which is a big decision factor in the Fo

[2015-09-16 14:12] iteles commented on #4
@Bektaz Thanks for clarifying, issue closed! :blush:

[2015-09-16 14:12] #4 closed

[2015-09-17 07:01] #1 closed

[2015-09-17 07:01] #2 closed

[2015-09-17 07:23] Bektaz opened #6 "Check proper functionality of code"
There is a javascript file getNumberLength.js. The functionality of code needs to be checked with different kinds of inputs. For example the function gives wrong result when input is very large number with 30 zeroes.

[2015-09-17 16:27] Bektaz commented on #6
@daymos thanks, code is functioning fine i have merged it

[2015-09-17 16:27] #6 closed

[2015-09-17 19:22] patrickwalkowicz opened #8 "Write function revertString"
# Revert String

I've got a string manipulation problem to solve for you.

Write a function that will revert a word but preserve the original lowercase/uppercase letter order. It's easiest to explain with examples:
- If you pass "JavaScript", the function should return "TpirCsavaj"
- If you pass "RaNdom", the function should return "MoDnar"
As you can see looking at the output, the string itself i

[2015-09-19 07:57] daymos commented on #8
pushed, should work

[2015-09-19 22:13] #8 closed

[2015-09-20 17:19] patrickwalkowicz opened #10 "Edit function revertString so that it handles string of any length"
I suggest improving upon the provious version of revertString function. For reference, you can find specification of the original [here](https://github.com/codingforeveryone/js/issues/8).

##  Input
String of any length, *only alphabetical characters and spaces*

## Output
String of reverted input, preserving the original order of capital letters and order of words.
**Example:**
Input: "Hello WorL

[2015-09-23 18:20] #10 closed

[2015-09-23 18:29] patrickwalkowicz opened #14 "Improve revertString stylistically"
@thevalent , @JMurphyWeb as I've mentioned in Gitter chat, I've decided to merge the pull request that was sent earlier. Thanks again for working on this one, guys!

I came up with another Git/JS exercise that presented itself along the way. The current revertString is working but I think it could use some tweaking style-wise (like fixing indentation so it's obvious which blocks belong to what fun

[2015-09-24 09:54] JMurphyWeb opened #16 "readMe update"
The readme for the repo could do with some more explanation for total beginners with GitHub.  No extensive guide but maybe a basic Do's and Dont's?
Also your Gitter message containing useful GitHub links will be useful to all newcomers:
Here's a good read on Git: https://github.com/NataliaLKB/learn-git-basics
And nice tutorial on resolving conflicts when merging http://www.gitguys.com/topics/mergi

[2015-09-24 09:56] JMurphyWeb opened #17 "New exercise: findSum function"
create a function findSum() which can be used in the following way:
var plus2 = findSum(2);
plus2(5); => 7
OR
findSum(4)(6); => 10

[2015-09-25 16:24] #16 closed

[2015-09-25 16:24] #14 closed

[2015-09-27 20:20] patrickwalkowicz opened #21 "Review teamwork process to avoid conflicts and document in README"
@JMurphyWeb, @Bektaz I've done some reasearch on GitHub workflows inspired by our recent conversation and [this](https://github.com/codingforeveryone/js/pull/18#issuecomment-143412417) comment.

I've found a good article on [GitHub Flow](http://scottchacon.com/2011/08/31/github-flow.html).

So after reading that, I have a few ideas.
1. We could abandon working on our own forks and switch to workin

[2015-09-28 12:21] Bektaz commented on #21
@patrickwalkowicz excellent job :+1: you put in order our workflow and hopefully we can get rid of the problem about pull request conflict which occures from time to time.

With your permission let me add some points to your proposal

1. It is true we all have rights to work by creating branches inside this repo and forking this repo.
My opinion here is let other users to choose which way they wou

[2015-09-28 13:07] daymos commented on #21
Hi @patrickwalckowicz, @bektaz, and all others.
I agree on the general solution proposed  by patrick. Creating a new branch for each new challenge seems a tidier solution.
Regarding forking,  it seems that the current solution is commonly used on github. So leaving the choice to the proponent seems, good. I certainly would like to create a challenge using the 2 methods, to see from that perspectiv

[2015-09-28 18:36] patrickwalkowicz commented on #21
Thanks for your input, guys!
@Bektaz, regarding what you've suggested:

1. I like the idea of doing things either way just for the sake of learning. As long as the person contributing makes sure his fork is up to date before creating a pull request, we'll be fine.
From what I've seen the method of creating a pull request from a fork is used mostly in open-source projects when there's a couple of p

[2015-09-29 05:37] Bektaz commented on #21
Hi guys!

@patrickwalkowicz , @daymos thanks for active discussion I agree with you. So now we have more or less the general opinion of our contributors and of course I am up to it too :smile:

[2015-09-29 08:56] daymos commented on #21
yes, this is very useful. Im glad to be part of this group!

[2015-09-29 18:06] #21 closed

[2015-10-01 09:33] #17 closed

[2015-10-01 09:43] JMurphyWeb opened #23 "Idea for beginners"
I have an idea which is designed to assign anyone new to this repository a problem that they can then practice using the guide set out by @patrickwalkowicz  in the README.

* Each new member of the repo will always find an easy problem waiting for them.
* Once they have reserved and then solved the problem, they must create a new easy problem, designated for the next new member to the repo.
* To d

[2015-10-01 10:32] JMurphyWeb commented on #21
Hey all, I like the points put forward, for now i will try to learn the
branching method before complicating things with the fork again!

I have just opened an issue with an idea that would ensure there is always
a new problem waiting for any new member, please take a look.

I don't know if I only speak for myself, but right now my main aim from
this repo is to grow comfortable with GitHub (codewa

[2015-10-01 10:33] JMurphyWeb opened #24 "Project Euler 1"
Slightly adapted the first problem from project euler:
https://projecteuler.net/problem=1

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

**Create a function that will find the sum of all the multiples of 3 or 5 below an integer x**

function sumOfMultiples(x){
//
}

[2015-10-01 11:23] Bektaz commented on #23
Hi @JMurphyWeb,

As I understood there are would be two activities going parallely about creating and solving problem. One is as described in README.md which is for existing contributors and the other one for new members. New members will solve tasks named with 'new' whereas existing members will solve nonnew tasks and they dont touch each other's tasks. Did I understand in correct way?

[2015-10-01 16:07] daymos opened #25 "vector binary search using recursion"
Problem: find if an element x is present in a vector using binary search principle. The function must be written using recursion.

I think this is a classic problem, so if you look around you will find the solution already made. So I try to give here the basic explanation to solve it without having to look around too much. Probably you know already this topic, but I´ll write a couple of lines anyw

[2015-10-01 17:15] patrickwalkowicz commented on #25
@daymos thanks for posting this problem!

Can we assume that the data passed to this function will be already sorted or do we need to handle unsorted data as well?

[2015-10-01 17:49] daymos commented on #25
Better to check if it´s sorted. I´ll edit the description.

[2015-10-01 17:51] patrickwalkowicz commented on #23
@JMurphyWeb it makes perfect sense to do that this way. If I understand correctly, you mean creating very basic JS problems for somebody who's learning from the very beginning so the person won't have to wrestle with the problem itself and still learn about GitHub?

From the beginning when we started participating in this repo I was thinking about ways how we can make this repo more about GitHub t

[2015-10-01 17:53] patrickwalkowicz commented on #25
Thanks! Just making sure. If you don't mind, please also add info on if we should expect an array, object or multiple arguments to be passed as data?

[2015-10-01 17:58] daymos commented on #25
Actually I just read your comment on the other discussion about making this repo more about learning github rather then JS, and I agree very much with it. In light of it, is probably better to keep it simple. (Although I dont know what passing double arguments mean and would be curious to see what it is..)

[2015-10-01 18:03] patrickwalkowicz commented on #25
By multiple arguments I meant a function that could handle data passed as any number of arguments - for example it could be just 2 arguments or it could be 10 (depending on how the function is called). In short, it should take any number of arguments.
So in the function you'd have to use a method that would allow you to access the arguments and learn something about JS that way. It doesn't seem li

[2015-10-01 18:41] daymos commented on #25
oh, ok. That is clear, but no in this case only one vector.
I though you mean something else.
I have seen on codewars something like this:   myfunction(1)(2)
And still have to get my head around it.

[2015-10-02 08:55] JMurphyWeb commented on #25
Hey @daymos check out my findsum function in this repository which @patrickwalkowicz has solved for a very simplified version of the problem you are talking about there.

@daymos it was not my intention to ONLY have simple problems on here.  If you want to set a challenge then by all means you should go ahead.  My main worry is that people are put off adding exercises to the repo because they feel

[2015-10-02 09:07] JMurphyWeb commented on #23
@Bektaz   Yes I think you have the understood as I intended.  @patrickwalkowicz Yes that is the idea, but it is important that each new member to the repo creates another "new-member-x+1" problem for the next new member to arrive here.  Creating a cycle of easy problems for new members.

The README should be updated so that the first thing it says is along these lines:

##New Members
* If you are

[2015-10-02 09:23] daymos commented on #25
Hi @JMurphyWeb, yes I am still thinking about this question, hard challenges vs easier on this repo.
I think in essence is good to have the simple ones to practice github. But I noticed a difference between solving a challenge here and on codewars. I think I put more effort here. What about you guys?
It may just be the human factor. Or, I think maybe people post here challenges they really find in

[2015-10-02 09:24] daymos commented on #25
if you want to improve your knoledge of recursion I found a course on course accademy ( which is hidden from homepage for some reason). I think it was good.

https://www.codecademy.com/courses/javascript-lesson-205/0/1

[2015-10-02 12:29] Bektaz commented on #23
This would be good point for new members to start once they are in this repo. Also new members would get their first or beginner experiences in creating branch repo, pushing, pulling requests and opening issues. I am for it. If you open pull request and add your changes then all of us could look and comment if we have one of course, otherwise you could merge it.

[2015-10-02 23:11] toast565 commented on #23
Hey all, thought I'd weigh in as a prospective new member. I really like the idea, really welcoming and encouraging people to get involved (and making sure existing members don't solve all the problems too fast!)

One suggestion: consider maybe keeping two 'new-member' problems open at once; that way a new member has some time to come up with a new problem after they've solved the old one, but if

[2015-10-03 00:28] toast565 commented on #24
Hey I think I managed to make my first pull request with a solution to this. Have a look? :)

[2015-10-04 21:06] #24 closed

[2015-10-04 21:18] patrickwalkowicz opened #27 "Collaboration on checklist project"
Thanks for today's hangout! For those who couldn't make it, we've decided to collaborate on manageable projects to practice with. The first one we chose is building a front of a checklist application. So this would require HTML + CSS + JavaScript/jQuery.

What I think the application should be able to do:
- Add checklist items typed by user to the "To Do" list
- Move checked items to "Completed" l

[2015-10-04 21:26] MyPitit commented on #27
Hi all! It was very nice meeting all of you today.
@patrickwalkowicz that sounds very good to me, I will do some "research" this week to see how/what we can add. We can discuss all our ideas next Sunday before getting our hand dirty with code.

Regarding the backend part, I suggest this service. https://www.firebase.com/pricing.html We have up to 1GB free and looks very suitable for us.

Let me kn

[2015-10-04 21:36] patrickwalkowicz commented on #27
@MyPitit [Firebase](https://www.firebase.com/) looks good, I'll go throught the [examples](https://www.firebase.com/tutorial/#session/f7c65x84zt6) this week for better understanding.

I suggest implementing the front part first and then adding code for pushing entries to the database.

[2015-10-04 21:55] thevalent commented on #27
I agree with all the above. I can't wait to start getting this roll. Firebase sounds very good to me, never heard about it before, you are spot on on that Mireia!

[2015-10-05 13:18] Bektaz commented on #27
hi mates I also agree what about removing items from 'to do' list once the item is chosen.
I have also heard Firebase for the 1st time, what do we need to know to start learning it? are there any prerequisites except js?

[2015-10-05 13:24] MyPitit commented on #27
@Bektaz no prerequisites, just  need to register and start using their library, easy :P Don't worry about that for now. We have to figure it out first how to build a front of a checklist application :)

[2015-10-05 13:39] Bektaz commented on #27
thanks @patrickwalkowicz I will try it :+1:

[2015-10-06 05:24] JMurphyWeb commented on #27
Love this idea. How do we know what tasks we should each do? Do I understand correct that we want front end done this week and we can look into back end next week?

Today I have been trying to make a basic chrome app, this project could eventually be developed to work as a chrome app and released on the app store.

[2015-10-06 05:31] JMurphyWeb commented on #23
@toast565, makes sense indeed. Could you please create a new-member-1 issue with a simple JS problem to be solved, since you were the latest member to solve a problem?

I think as we discussed earlier we should all try to add one or two general problems of our own to ensure there are many questions to be solved.  If we solve someones problem, then maybe we should add another of our own?

[2015-10-06 09:26] MyPitit commented on #27
Hi all! I have a suggestion, we can use the Kanban system to track all the tasks. It's a very good way to organise all the tasks, trak the progress, team work, etc. I use Trello for that, https://trello.com it's very simple to use. I already create a new board for this project. If this sounds good to you guys I can sent the invitation to all of you :)
@JMurphyWeb we don't really have assigned any

[2015-10-06 10:35] FrancescoPalma commented on #27
Hi everyone! Sorry for my delayed reply, I've been very busy.
@patrickwalkowicz Thank you again for opening this issue and I agree 100% with you about the structure of the application you propose.
@MyPitit Thank you for the research work you're doing. I've never heard of Firebase but very willing to learn something new :+1: I've got Trello already, it's a great application for project mangament, b

[2015-10-06 10:58] MyPitit commented on #27
@FrancescoPalma I already send the invitation to you and also to @Bektaz, @daymos, @thevalent, @patrickwalkowicz. If I miss someone here please give me your email and I will send the invitation a soon as possible :)

[2015-10-06 11:02] MyPitit commented on #27
@JMurphyWeb I also send the invitation to you

[2015-10-06 18:48] patrickwalkowicz commented on #27
@MyPitit thanks for Trello invitation!

I've been thinking about how could we collaborate on a practical level. I was looking for a solution that would enable us to leverage the team aspect and have everybody actively participating in actual coding. Because of the project being small, I thought it's hard to actually delegate tasks and work on them at the same time. We'd be stepping on each other's

[2015-10-06 19:00] MyPitit commented on #27
@patrickwalkowicz I love your idea, I agree 100% with you, this sounds very doable if we want to code.
Have you looked at Etherpad? I never used it before but my partner really recommended it. http://etherpad.org/

[2015-10-06 19:09] patrickwalkowicz commented on #27
@MyPitit this one looks good! Do you know if you can get it to colour the syntax or is it just a plain text editor? It looks like a good alternative for Team Viewer, however with TV you get to use your favourite tools as it's based on remote desktop experience.

Another thought about splitting into pairs. It would help us work around our schedules because only 2 people would have to arrange a meet

[2015-10-06 19:26] daymos commented on #27
I like the idea of pair programming. I think I read something about it before. The second programmer  has to understand what the first programmer has done  before he can add his stuff. So everybody is kept up-to-date.

[2015-10-06 19:41] FrancescoPalma commented on #27
Both TeamViewer and EtherPad look effective, we might try one for the next session and then the other one so we understand which one we are more comfortable with. I like the idea of pair programming, it might be a bit difficult at the beginning, especially for beginners (like me) but it's going to be really rewarding in the long-term since I think it is an important learning tool. On this matter,

[2015-10-06 19:44] thevalent commented on #27
That's brilliant either of the options you mentioned guys is alright for me. I already have team viewer installed and having two screens on my pc I could see what the person I will be paired with will be doing. I believe that everyone has its own pace and since I never programmed paired with anyone before I think I'll need some time before being effective but it sounds really appealing to me!

[2015-10-06 21:17] toast565 opened #30 "New Member #1 - sumCircles"
Write a function that takes as its parameters *some numbers representing the diameters of circles*.

It should return the *sum of the areas of all these circles*, rounded to the nearest integer, as a string: "We have this much circle: xyz".

You don't know how many circles there will be, but you can assume there will be at least one.

function sumCircles(){
  // codecodecode
}

sumCircles(2) // re

[2015-10-06 21:19] toast565 commented on #23
Yep. Sorry for the delay - I've uploaded a new member problem. It was hard to gauge what the difficulty should be but I think that with the help of Google this one shouldn't be particularly hard.

[2015-10-07 00:20] JMurphyWeb commented on #27
@patrickwalkowicz pair programming is a great idea. Due to time differences it would make sense for me and @Bektaz to join forces. I will look into trello now. What is the time frame are we working with for this project?

[2015-10-07 05:43] Bektaz commented on #27
hi guys, brilliant ideas especially pair programming i am for it with my both hands up :smile: @patrickwalkowicz many thanks for offering that idea. Fully agree with @JMurphyWeb about time differences and pairing with him. I dont have any experience in pair programming either thus not used EtherPad and TV in this matter, but used TV just for OP system administrative issues I liked it, hope it work

[2015-10-07 08:37] FrancescoPalma commented on #27
I suggest a suitable plan might be as follows;
1) we decide the pairs here,
2) we refer to the GoogleDoc created by @MyPitit for documentation, research and data. Everyone is welcome to add stuff,
3) the pairs make their own arrangements using platforms and tools of their choice,
4) between Saturday and Sunday (according to the pairs' arrangements and plans) the actual building happens,
5) we set

[2015-10-07 15:08] patrickwalkowicz commented on #27
That's a good one, @FrancescoPalma! How about having a meeting before we actually start coding to discuss implementation ideas/tools to use (for example at 10AM on Sunday). If we keep it short (say 40 minutes) then we'll have plenty of time to do actual coding later on. Then we could meet a week later to briefly present the code *and* choose the next project.

I'm proposing this alternative becaus

[2015-10-07 15:32] FrancescoPalma commented on #27
@patrickwalkowicz Agreed :+1: actually it is a better proposal from a time perspective. No rush, better allow more time by using also the weekdays (or any other time in between) to polish the code.

[2015-10-07 18:55] daymos commented on #27
@patrickwalkowicz @FrancescoPalma I agree in allowing some more time. I think each of us has a different skill level at this point. To work well together, especially in a 2 men team, I think there should be a common knowledge at least on the subject we are going to work on. To build this "common ground" I suggest everybody  who fells less experience in web development with a back-end ( I include m

[2015-10-08 02:17] JMurphyWeb commented on #27
@daymos i assumed that Codecademy track was primarily front end? Ive been meaning to do it anyway so maybe now is a good time.

I am away and unavailable between Saturday and Tuesday so if it works out with @Bektaz then maybe him and i could start something today or tomorrow?

[2015-10-08 07:16] Bektaz commented on #27
hi @daymos thanks for the link you shared, apart of that do remember during our last hangout you told there is another js course in codeacademy which is not shown usually on the page, could you share with the link? @JMurphyWeb I agree with you we could start discussing even today if you are not available from Saturday, just let me know specific time

[2015-10-08 09:05] daymos commented on #27
@JMurphyWeb You are right that is 100% front-end. If someone has never done a webpage with a db, I doubt they can start  immediately with that. But that would give sufficient frontend skills to work on the project anyways.  Somebody on the chat spoke about udemy, so I found this: https://www.udemy.com/nodejs-in-30/
It should explain how to do all the steps of backend including deployment. And it u

[2015-10-08 09:12] MyPitit commented on #27
All the proposals heres are looking very good. How are we going to do the teams of two? Shall we discuss this on Sunday or before Sunday?

[2015-10-08 09:29] daymos commented on #27
@Bektaz this is the one about recursion

[2015-10-08 09:30] daymos commented on #27
@MyPitit I have to work this Sunday. I am available any other day.

[2015-10-08 09:32] FrancescoPalma commented on #27
I think we can decide the pairs here even now (or anyway before Sunday). So, if @JMurphyWeb  and @Bektaz are going to pair. We are 5 left (me, @patrickwalkowicz, @thevalent , @MyPitit , @daymos ) so we are not even. If we find someone else willing to join it's great, otherwise we can just make 2 pairs and the one left can try to do on its own (if he/she has a more advanced knowledge) or can try to

[2015-10-08 10:17] Bektaz commented on #27
hi guys, @daymos thanks very much for the link, about lacking member to build complete pairs with two i would suggest @toast565 if he would like to join. he is the new member in this repo. If he has an interest then we would become even.

[2015-10-08 10:22] MyPitit commented on #27
@daymos I'm wfh, so I'm available at any time :) @FrancescoPalma, like you said if we can do the teams before Sunday I think it will be better.

[2015-10-08 13:49] patrickwalkowicz commented on #27
@Bektaz I agree, would be cool if @toast565 could join us as well and we'd have an even number of participants. Are you up to that, @toast565?

[2015-10-08 14:07] toast565 commented on #27
Hi @patrickwalkowicz, thanks for asking me. I'm in principle very up for this, though I have somewhat limited time. Count me in for now - I will read up on the project tonight and see if it looks too much for me to commit to.

[2015-10-08 15:20] patrickwalkowicz commented on #27
Very cool, @toast565 :+1:
Please keep in mind that it's learn-as-you-go, the idea is to learn how to figure things out and learn in real time. Also, the project is pretty straightforward so we can get it done in a short period of time.
We'll discuss the whole thing before we start so we're all on the same page.
Let us know :smile:

[2015-10-08 20:04] toast565 commented on #27
Had a read, and yeah this looks great, I'm in! Like others I'm busy Saturday but free all of Sunday. I'm completely unfamilliar with back-end stuff but hopefully there would be a minimal amount of that, and we can pool our knowledge!

I currently don't have access to the JS Hangout gitter yet, so if someone could add me that would be great. Also I think I saw something about a GoogleDoc? Happy to

[2015-10-08 20:15] FrancescoPalma commented on #27
@toast565 then, warm welcome to our group! :tada: I think @MyPitit can send you an invitation on Trello and on the GoogleDoc, if you provide us with your mail we can add you in our personal contacts on GoogleHangouts so we'll be able to let you in the next multichat. Also, on Gitter you're welcome to join the chatroom [here](https://gitter.im/codingforeveryone/JSHangout) ;)

[2015-10-08 20:17] FrancescoPalma commented on #27
@toast565 and don't worry about inexperience, there are more beginners than you think around you, we all have to learn and implement our knowledge. The best thing to do is to try and write as much code as we can to polish our skills step by step.

[2015-10-08 20:25] toast565 commented on #27
Cheers for the welcome! I think I might need some kind of invitation to the chatroom as well though, that link gives me a 404 'This is not the chat you're looking for...'

[2015-10-08 20:27] patrickwalkowicz commented on #27
@toast565 great!

I've just tried adding you to the Gitter chatroom but it looks like you're not in codingforeveryone group yet. In order to join the hangout chat group, you need to be added to codingforeveryone first. Please make sure to submit the [first part of the application](http://www.foundersandcoders.com/academy/apply1.html) so you're added to codingforeveryone.
You just need to provide y

[2015-10-08 23:51] JMurphyWeb commented on #27
@bektaz i cannot find your email. Could you let me know if you are free today from 6am to 11am gmt?
Jmurphy.web@gmail.com

I was having a look around and it seems a Combination of Heroku and node is a common backend hosting solution with lots of supporting documents online. Is there any reason why this wouldnt work for us?

[2015-10-09 07:43] MyPitit commented on #27
@toast565 Welcome!
I need your email for the google doc invitation please.

[2015-10-09 08:12] toast565 commented on #27
@MyPitit oturnermajor@gmail.com - thanks!

[2015-10-09 08:54] MyPitit commented on #27
Thanks @toast565, you will receive the invitation shortly.

[2015-10-10 04:54] Bektaz commented on #27
hi @JMurphyWeb sorry for delay I was busy a bit. Probably you will not participate for tomorrow's hangout, so if you can find some short time for discussion email me at berekettaz@gmail.com to set time for discusson of details of the project (notification of email comes straight away, so that would be good option to reply you fast). May be while you are busy up to Tuesday I might be doing somethin

[2015-10-10 07:08] FrancescoPalma commented on #27
Hi all! We can meet on Hangouts at 10am UK time. Is that ok?

[2015-10-10 08:18] patrickwalkowicz commented on #27
@Bektaz @FrancescoPalma Cool! I believe everybody was ok with 10AM BST.

[2015-10-10 10:06] daymos commented on #27
Hi all, unfortunately I have to work the whole day tomorrow. If there is someone who wants to work on the toDo list project during the week instead of tomorrow, I could be paired with this person.

[2015-10-10 11:12] FrancescoPalma commented on #27
@daymos @MyPitit @toast565 two pairs had been set. We are the 4 left, we can make two pairs. One with @daymos who can work during the week, the other two starting from tomorrow. I can tomorrow, whereas I am not sure if I can do that during the week other than updates and quick tasks at evening.

[2015-10-10 12:16] MyPitit commented on #27
Hi all, I can work during the week and also on the weekend. I don't have any preferences. :)

[2015-10-10 12:20] MyPitit commented on #27
So I can pair with @daymos if anyone here can't do the project during the week.

[2015-10-10 13:07] daymos commented on #27
@MyPitit ok so we are matched!

[2015-10-10 13:17] Bektaz commented on #27
10 AM is fine for me :+1:

[2015-10-10 13:58] toast565 commented on #27
Which leaves @FrancescoPalma and myself :) Talk to you all 10am tomorrow!

[2015-10-10 15:01] FrancescoPalma commented on #27
@toast565 Great! See you all tomorrow guys!

[2015-10-11 21:28] thankgodr commented on #30
I have created a function that solve this issue. I will be pushing and will create a pull request.

[2015-10-11 21:31] thankgodr commented on #30
Please i am new to git. What branch should i push the js file to?

[2015-10-11 21:48] patrickwalkowicz commented on #30
Hello @thankgodr! Please push your solution to a newly created "sumCircle" branch. Then create a pull request from sumCircle to master.

For reference, I've created an outline:
(using command line)
1. Navigate to a folder you want to use for the project, use `git clone https://github.com/codingforeveryone/js.git` to clone the repository
2. Create a new branch  *locally* using `git checkout -b sumC

[2015-10-11 22:04] #30 closed

[2015-11-10 23:35] toast565 opened #32 "New Member #2 - splitTheBill"
Write a function to work out who is owed what when a group of friends all pay different amounts toward a bill.

* The function should take one parameter: an object with two or more name-value pairs which represent the members of the group and the amount spent by each.
* The function should return an object with the same names, showing how much money the members should pay or receive.

**Further po

[2015-11-11 10:45] franzmoro commented on #32
function splitTheBill(x) {
  sum=0;
  num=0;
  for(var k in x){
    if(x.hasOwnProperty(k)){ sum += x[k]; num++ }
  };
  avg=sum/num;
  owes=new Object();
  for(k in x){ owes[k]=Math.round((x[k]-avg+ 0.00001) * 100) / 100 };
  return owes;
}

[2015-11-11 10:51] franzmoro commented on #32
Hi @toast565, here is my answer. The "+0.00001" part is something I found on StackOverflow to prevent rounding errors. I can upload the js file directly tho, it works fine (I tested it on my command-line on node.js and on codewars).

[2015-11-11 10:57] toast565 commented on #32
Nice - the point of this is mainly for new members to practise using github, so go ahead and push the JS file in a new folder to codingforeveryone/js, ideally with a README.md doc with my instructions copied in.

The code looks good, I'll have a closer look later. Nice find on the '+0.00001' - rounding errors are such a pain.

[2015-11-11 11:07] toast565 commented on #32
@franzmoro
P.S. Helpful guide on git [here](https://github.com/NataliaLKB/learn-git-basics).
And if you can make a new 'New Member #3' problem to replace this one that would be great - just make a new issue with your instructions. That way the next new member also has something to solve :)

[2015-11-17 20:34] toast565 commented on #32
@franzmoro
Hey, just a nudge to remind you to make an issue for 'New Member #3' in case you forgot.
Otherwise the next person who comes along has no problem to do.
Cheers :)

[2015-11-17 23:04] franzmoro commented on #32
Hi Owen. I'm sorry, i've been very busy in the past days and today i just
got nose surgery. I will get it done soon though, no worries.
Francesco
Il 17/Nov/2015 21:35, "Owen TM" <notifications@github.com> ha scritto:

[2015-11-18 15:18] andrewMacmurray commented on #32
@toast565
Hey, this is a great idea for newcomers to git, I guess the only problem is that we don't have enough problems! Maybe we could encourage anyone to post issues (prefaced with the 'New Member problem #") with simple problems to solve, then we can hopefully bypass the bottleneck?

[2015-11-18 16:23] JMurphyWeb commented on #32
I think the readme says that anyone can and should create problems. The new
member problems are only to ensure that there is always a very simple
problem for the next new member.
Please feel free to post some problems as issues, easy or hard.
On Nov 18, 2015 10:18 PM, "Andrew MacMurray" <notifications@github.com>
wrote:

[2015-11-18 16:26] JMurphyWeb commented on #32
Also the new member problem should be set straight away. It is supposed to
be a simple problem which shouldnt take any time to prepare. This repo is
potentially very useful, it would be great to get it back on track.
On Nov 18, 2015 10:18 PM, "Andrew MacMurray" <notifications@github.com>
wrote:

[2015-11-18 18:51] andrewMacmurray commented on #32
@JMurphyWeb Sure, will post an issue. Didn't see your pull request to update the readme before, it looks good will have a go adding to/editing it

[2015-11-18 19:14] andrewMacmurray opened #35 "New Member #3 - alternating string"
## This is a simple problem for new members to get used to working with github:
#### Have a look through the readme before completing it
-
Write a function that takes a size and returns a string of alternating '1s' and '0s'.

the string should start with a 1.

a string with size 6 should return :  `'101010'`

with size 4 should return : `'1010'`

with size 12 should return : `'101010101010'`

The

[2015-11-18 19:57] AaronSlawson commented on #35
[code]

Not sure what the proper way to submit answers to an issue is (first day on github) but here is mine.

[2015-11-18 20:32] toast565 commented on #35
Hi @AaronSlawson. Answer looks good - I didn't know you could use minus numbers with slice!

Can you submit the answer in a new folder in the codingforeveryone/js repo. It should have a readme with @andrewMacmurray's instructions, and a js file with your solution, like in [this folder](https://github.com/codingforeveryone/js/tree/master/splitBills). Here's a [good guide to git](https://github.com/

[2015-11-18 20:36] toast565 commented on #32
Closing this issue as it has been solved and the new member problem is up. But agree with @JMurphyWeb, anyone can and should post new member problems - don't think we can have too many!

[2015-11-18 20:36] #32 closed

[2015-11-19 00:37] andrewMacmurray commented on #35
@AaronSlawson great! Interesting solution with the slice(-1)

@toast565 file structure looks much better now

[2015-11-19 14:04] AaronSlawson opened #39 "New Member #4 - Factors"
# Finding factors of a positive number

Create a function that takes a number and finds the factors of it, listing them in **descending** order.

If the parameter is not an integer or is a negative integer, return `-1`

The returned factors should be in an array

**Example:**

`factors(54)` should return `[54, 27, 18, 9, 6, 3, 2, 1]`

[2015-11-23 22:42] toast565 commented on #39
@Nalinc and @franzmoro, would be great if you two made some issues for the next New Member Problems :) - I think we're on # 5 and 6.

(In case either of you missed it in the README, after you've done a problem, you think of a new problem for the next new member to do and post is as an issue - that way there are always new problems.)

[2015-11-26 15:09] tas12 opened #41 "New member in need of a problem"

[2015-11-27 19:42] hatsot commented on #41
me too, i need some problems in my life :D

[2015-11-28 09:24] franzmoro commented on #39
Hi there. I'm sorry for my recent silence. I just recovered from some unexpected health issues. I have just today published a new kata on codewars (http://www.codewars.com/kata/5658475ce6919d17e5000017/train/javascript). I think it's an interesting problem and hopefully a good one for a new member. I'll add it here on github as problem #5. Let me know your thoughts.

[2015-11-29 14:11] Katbow commented on #39
Hi @franzmoro, can you post that problem as a new issue [here](https://github.com/codingforeveryone/js/issues) titled "New Member #5 - Article Archive"?

[2015-11-29 14:28] Katbow commented on #23
Seeing as this is more or less done now, this issue can now be closed.

[2015-11-29 14:28] #23 closed

[2015-11-29 14:35] Katbow commented on #25
@daymos if this issue is still relevant, could you rename it to follow the ["New Member X" guidelines](https://github.com/codingforeveryone/js/blob/master/README.md#new-members)?  Otherwise I'd like to close this issue.

[2015-11-29 14:38] Katbow commented on #41
@franzmoro is busy adding a new problem in PR #43. I may also add a new problem soon to get things moving again and I'll ping you when it's done.

[2015-11-29 14:40] Katbow commented on #27
Hey, is this still being worked on? If so, which repository is being used for it? Thanks!

[2015-11-29 14:43] Katbow commented on #35
Closing issue as [a solution has been committed](https://github.com/codingforeveryone/js/blob/master/New%20Member%20Problems/New%20member%20%233%20-%20alternateString/alternateString.js).

[2015-11-29 14:43] #35 closed

[2015-11-29 17:37] franzmoro opened #44 "New member #5 - Article Archive"
You are a first-time online publisher and would like to post your articles online. You want to build an archive which can store and update article information and enables "likes" from social networks.

The "archive" array will store an object for each article. Each object shall contain the following article info:

- "articleId" - each article has its id. The 1st article has id 1, the 2nd id 2 and

[2015-11-29 17:41] franzmoro commented on #39
added issue #44 . The [pull request] #43  is pending approval.

[2015-11-29 17:44] franzmoro commented on #41
I've added problem number 5 (pull request #43 and issue #44 ). I have also created another codewars [kata] (http://www.codewars.com/kata/565b3542af398bfb50000003), which is more beginner-friendly than the Article archive problem. If as per issue-title, there is need of more problems, I can add it as problem #6. :wink:

[2015-11-29 20:58] abusabir commented on #44
i intend to solve this problem

[2015-11-30 00:03] toast565 commented on #27
Hey @Katbow, this ended up being pairs of us working on projects in our own repos. Pretty sure everyone's done with it now though - can probably close the issue.

[2015-11-30 00:28] Katbow commented on #27
Okay, thanks for the update. Closing issue.

[2015-11-30 00:28] #27 closed

[2015-11-30 18:31] franzmoro opened #47 "New member #6 - Count strings inside an object"
Create a function strCount (takes an object as argument) that will count all string values inside an object. For example:

[code]

[2015-12-01 12:43] andrewMacmurray opened #48 "Problems to solve #1 Simple Events"
Hi Everyone, have created a new branch with a problem I'm stuck on on codewars - it's this one if you want to have a look http://www.codewars.com/kata/52d3b68215be7c2d5300022f

Has anyone completed it yet? It's a nice OOP one about constructing an object that handles an events but can't get my head around what I'm doing wrong!

[2015-12-01 14:16] Katbow commented on #48
@andrewMacmurray I haven't done this one yet, but I will have a go. Then maybe tomorrow we can try it out together at the meet up.

[2015-12-01 15:12] philb56 commented on #47
I'd like to have a go at this - first time so very unclear about the process.

[2015-12-01 15:36] andrewMacmurray commented on #48
@Katbow Brilliant, let's solve it tomorrow!

[2015-12-02 09:17] franzmoro commented on #47
@philb56 has provided a working solution, which is now in the repo. Closing issue.

[2015-12-02 09:17] #47 closed

[2015-12-02 12:32] tu6619 opened #50 "Can I please become new-member-#7?"
If not, which new-member-# can I be?

[2015-12-02 12:37] Katbow commented on #50
@tu6619 , @philb56 should be posting a new issue soon. Then you just need to comment on it that you intend to solve the problem.

[2015-12-02 12:39] #25 closed

[2015-12-02 12:41] Katbow commented on #41
closing issue as new problem has been submitted/completed. @hatsot if you are still in need of a problem, please post a new issue or reopen this one.

[2015-12-02 12:41] #41 closed

[2015-12-02 14:44] philb56 commented on #50
@tu6619  @Katbow I'll do this today - I'll let you know when it's ready

[2015-12-02 14:45] tu6619 commented on #50
@Katbow @philb56  cheers guys!

[2015-12-02 17:50] philb56 opened #51 "New-Member-#7"
Function nthChar takes 1 parameter - an array of n words.

You must concatenate the nth letter from each word to construct a new word which should returned as a string.

Note: Test cases contain valid input only - i.e. a string array or an empty array.

function nthChar(words){
 ...
}

so nthChar(['yxx','xex','xxs']) should return 'yes'

This is one of my katas on Codewars called Substring Fun if

[2015-12-02 18:20] tu6619 commented on #51
I'll have a crack at this one.

[2015-12-03 13:19] Katbow commented on #50
Closing as @philb56 posted the problem & @tu6619 completed it.

[2015-12-03 13:19] #50 closed

[2015-12-03 13:52] tu6619 opened #53 "New-Member-#8"
Write a function that removes all the even characters from a string and returns them in an array. If the string is smaller than two characters and longer than 100 characters, the function should return "invalid string".

For example:
[code]

I've posted this problem as a [Codewars Kata](http://www.codewars.com/kata/return-a-strings-even-characters/train) if you want to practice!

[2015-12-03 14:24] Katbow commented on #51
Closing - solved & solution merged by @tu6619

[2015-12-03 14:24] #51 closed

[2015-12-03 14:26] Katbow commented on #39
Bump for @Nalinc - are you able to make a new issue for a new problem? If not, no problem, I'll just close this.

[2015-12-03 14:29] kylebuttner commented on #53
I'll take this one!

[2015-12-03 14:42] shouston3 commented on #53
Nice idea for the kata @tu6619, also like this page, very easy to use

[2015-12-03 23:49] JackTierney commented on #53
Great kata @tu6619 decent layout

[2015-12-04 16:04] #39 closed

[2015-12-05 10:55] RobStallion commented on #53
Nice kata @tu6619. Enjoyed doing that

[2015-12-06 20:43] andrewMacmurray commented on #53
Good job everyone, great to see this repo being used. Feel free to suggest changes to the repo too if you've got any ideas

[2015-12-07 02:20] tas12 opened #57 "new-member-9"
__Monoalphabetic substitution cipher__

Write a function `subCipher` that takes a string and replaces each letter with the next letter in the alphabet. Letters in the encoded string should be in uppercase.

Example:
[code]

_[Repl.it](https://repl.it/) is a good place to try out your code._

[2015-12-08 10:28] Katbow opened #58 "Additions to CONTRIBUTING.md"
These are suggestions for improvements and clarifications to CONTRIBUTING.md.

Suggestion by @tas12 - For step 1: I think when a new member needs to open an issue to request a problem you could include that bit about what they should name the issue (before it was "New member in need of a problem"). Then it's easier to identify issues that are new problem requests.

Suggestion by @andrewMacmurray -

[2015-12-08 10:43] #48 closed

[2015-12-08 10:45] Katbow commented on #48
Feels good closing this issue @andrewMacmurray !

[2015-12-08 10:46] andrewMacmurray commented on #48
@Katbow Definitely!

[2015-12-08 19:59] Katbow commented on #58
I added the second suggestion in to README.md - there was something like this already in CONTRIBUTING.md, but if anyone wants to reword that part, feel free.

First and last suggestion are still open if someone would like to add!

[2015-12-08 23:15] tas12 commented on #58
I've added the first suggestion to both README.md and CONTRIBUTING.md

[2015-12-09 12:51] Katbow commented on #58
Thanks for adding that in @tas12 ! I think though that it might be better suited to just the contributing guide. It's a bit of 'additional info' that's not essential when going through the steps. I think it would be good to keep the readme as short and concise as possible. Thoughts?

[2015-12-09 13:02] tas12 commented on #58
Hey @Katbow I did consider that but I thought some people might not look at the contributing guide, open a new issue and give it their own title. It wouldn't be a big deal but would defeat the purpose of having a specific name for it. What do you think?

[2015-12-09 13:06] tas12 commented on #58
@Katbow okay, I've just reworded point 1 of the READ.ME. It says they same thing but it's shorter now

[2015-12-09 13:12] tas12 commented on #58
@Katbow Have made point 1 of the contributing guide match the READ.ME as I think the new wording is better. Let me know if you have any suggestions about this

[2015-12-09 15:39] andrewMacmurray commented on #58
@tas12 I think because the repo is just about getting comfortable with github the naming isn't super important, as long as there are open issues then it should be fine. Also we should submit changes via pull requests so we can review them rather than just merging automatically.

[2015-12-10 09:50] Nalinc commented on #39
@Katbow: Hi there.. Apologies for late response.
I'll make a  new issue for new problem by the end of the week. Thanks for closing this issue anyways

[2015-12-10 14:01] Katbow commented on #39
@Nalinc no worries, just thought I would double check :). Cheers!

[2015-12-14 22:59] thevjm opened #61 "new-member-10"
Given an array containing random occurrences of zeros and ones, write a function countOnes(arr) that returns the counts of the sequential ones in the array.

For example:
[code]

[2015-12-15 19:25] lelloman commented on #61
I'd like to solve this ^_^

[2015-12-15 20:20] lelloman opened #63 "new-membder-10+1"
Given a string, write a function that returns the sum of all the digits in the string.

e.g. sumDigits("33 little frogs eat 44 squirrels every 2 days, ew") -> 16

[2015-12-16 00:03] Katbow commented on #58
Closing as all additions have been made.

[2015-12-16 00:03] #58 closed

[2015-12-16 11:15] gabrielperales commented on #44
I have already solved this problem. I'm not going to push it because @abusabir showed his intention to solve it before. But I put [here the link](https://github.com/gabrielperales/js/tree/new-member-5/new-member-problems/5-article%20%26%20like) to my solution. I have made some improvements like, for example, the archive is now an object instead of an array, it has methods to add articles and other

[2015-12-16 11:25] franzmoro commented on #44
@gabrielperales I like your approach. At the time of the issue creation I probably wasn't comfortable enough with function-calls from objects. It's not so long ago, but I've learned a lot since then!
In any case the new member problems are designed to be beginner-friendly so that the members get comfortable using github. good job!

[2015-12-16 11:25] franzmoro commented on #44
@abusabir what is your status on the problem-solving?

[2015-12-16 11:48] gabrielperales commented on #44
@franzmoro one weird thing I've seen in your description about the issue, is that when you remove an article from the archive... article's Id from the archive are recalculated. I think this is not the best design (you shouldn't change the reference to those articles).  My first approach was [this](https://github.com/codingforeveryone/js/commit/3e39e86bff1abeeda585f7149b0e46b2cde1aa29). There, the

[2015-12-16 11:55] franzmoro commented on #44
@gabrielperales you have explained it well and, as I said, I like your approach.
However, the exercise is designed to be simple so that beginners can have a play with js and github. For this reason I don't see the need to re-write the exercise. If we were instead aiming at making a proper article archive we would re-think the code, and your approach would be better than what I wrote in the exercis

[2015-12-16 12:02] gabrielperales commented on #44
Yes, I know :+1: . I have had a lot of fun solving your issue, it is very well explained. Good job too ;-)

[2015-12-16 12:07] franzmoro commented on #44
@gabrielperales :thumbsup: :thumbsup:

[2015-12-16 15:21] tas12 commented on #57
Solved by @thevjm

[2015-12-16 15:21] #57 closed

[2015-12-20 13:04] tdowek1 opened #66 "New member in need of a problem"
Hi guys!

A new issue would be greatly appreciated, as I am new to the group.

Cheers!

[2015-12-20 15:53] gabrielperales commented on #66
Hi, @tdowek1 I have solved 5 and 11, but I didn't merge them. If you want you can solve one of them (I'm going to merge only one), or you can wait until I create a new issue.

[2015-12-20 15:56] gabrielperales commented on #66
I'm new too... and I didn't know If somebody has to merge it... and until I have waiting I have solved a lot of issues... sorry!

Welcome to the group, and I hope I can help you need it. :)

[2015-12-20 16:11] tdowek1 commented on #66
Hi Gabriel,

Thank you! I appreciate it!

I'll take on number 11 if that's alright?

[2015-12-20 16:21] gabrielperales commented on #66
Ok,  I'll be waiting to see your solution :)

[2015-12-20 16:29] #66 closed

[2015-12-21 12:19] tdowek1 opened #68 "New-member-12"
Write a function that checks whether all elements in an array are square numbers. The function should be able to take any number of array elements.

Your function should return true if all elements in the array are square numbers and false if not.

An empty array should return undefined.

Examples:
isSquare([1, 4, 9, 16]);
//returns true

isSquare([3, 4, 7, 9]);
//returns false

isSquare([]);
//re

[2015-12-25 12:37] theonlyexception commented on #68
I'll take this one

[2015-12-25 13:35] theonlyexception opened #71 "New-Member-13 The Christmas List"
**New-Member-13**-_The Christmas List_

Santa has just finished the Christmas delivery but it's the time he dreads, when he starts getting letters from upset children stating they have been given the wrong presents.

We all know Santa checks his list twice but he also checks a third time after delivery

Help Santa to make sure that all the presents were delivered  correctly by writing a function t

[2015-12-25 16:06] gabrielperales opened #72 "New-member-14 remove noise from the message"
We have a broken message machine that introduces noise to our incoming messages. We know that our messages are written using `a-zA-Z` and white characters (like spaces or tabs). Unfortunately our machine introduces noise, which means that our message arrives with characters like: `%$&/#·@|º\ª` within our original message.

Your mission is to write a function which removes this noise from the messa

[2015-12-26 09:15] #61 closed

[2015-12-26 16:18] #63 closed

[2015-12-28 16:21] #44 closed

[2015-12-31 17:45] Katbow commented on #53
@kylebuttner , do you have the completed solution for this to make a pull request so this issue can be closed? Thanks!

[2015-12-31 17:49] Katbow commented on #68
Closing as problem has been solved & merged.

[2015-12-31 17:49] #68 closed

[2016-01-03 19:25] comountainclimber commented on #72
solved... have no idea what I am doing as far as merging/branching but I can post a new problem if someone clearly explains how

[2016-01-03 19:29] gabrielperales commented on #72
Your solution is right, that's the way you should to use regular expressions :+1:.
You have create a new Issue to create your own problem.

[2016-01-03 19:33] comountainclimber opened #76 "We"

[2016-01-03 19:35] comountainclimber opened #77 "We Have Liftoff!"
You have an array of numbers 1 through 10 (JS: 1 through 10 or less). The array needs to be formatted correctly for the person reading the countdown of a spaceship launch.

Unfortunately, the person reading the countdown only knows how to read strings. After the array is sorted correctly make sure it's in a format he can understand.

Between each number should be a space and after the final number

[2016-01-03 19:35] #76 closed

[2016-01-03 19:36] comountainclimber commented on #72
Nice thank you... I posted a new problem to be solved in issues. Thanks gabriel!

[2016-01-03 19:38] gabrielperales commented on #72
I have seen it :). For questions that you could have, we have this [gitter](https://gitter.im/codingforeveryone/js), there you can ask what you want.

[2016-01-03 20:36] mcelearr commented on #77
Thanks for the challenge @comountainclimber. I'd like to try solving this one!

[2016-01-03 21:33] mcelearr commented on #77
I completed the kata but don't have permission yet to push my branch (only completed appllication part 1 the other day) so I'll have to wait until then!

[2016-01-04 23:38] mcelearr opened #79 "Tube strike options calculator"
<h1>Tube strike options calculator</h1>
<h3>The sweaty bus ride</h3>
There is a tube strike today so instead of getting the London Underground home you have decided to take the bus. It's a hot day and you have been sitting on the bus for over an hour, but the bus is hardly moving. Your arm is sticking to the window and sweat drips off your nose as you try to read your neighbour's book when you say

[2016-01-05 04:07] dumbdev commented on #79
Thanks for the kata. The correct link is:
http://www.codewars.com/kata/tube-strike-options-calculator/javascript

Kind Regards,
Ed.
On 4 Jan 2016 11:38 p.m., "Rory McElearney" <notifications@github.com>
wrote:

[2016-01-06 17:17] matthewglover commented on #79
Hi nice @mcelearr - I'd like to take this one. Just solved it on Codewars, so now have to work out how to do a pull request...

[2016-01-09 20:41] #79 closed

[2016-01-12 17:56] matthewglover opened #82 "New-member-15 Group In 10s"
Write a function groupIn10s which takes any number of arguments, and groups them into sets of 10s and sorts each group in ascending order.

The return value should be an array of arrays, so that numbers between 0-9 inclusive are in position 0 and numbers 10-19 are in position 1, etc.

Here's an example of the required output:

[code]

The kata is also on [CodeWars](http://www.codewars.com/kata/gro

[2016-01-12 22:02] #77 closed

[2016-01-13 02:10] katbow commented on #72
Closing issue as it has now been merged.

[2016-01-13 02:10] #72 closed

[2016-01-19 17:01] coudrew opened #84 "New member needs an issue.."
Hey all,

I'm in need of an issue to take on here.

Thanks

[2016-01-19 18:33] gabrielperales opened #85 "New-member-16 Multi-criteria filter"
### You must to choose one:
- **Approach one** (the easy one):
Write a function called `multiFilter` which receives two arrays as parameters. The first one is the collection to be filtered and the second one is an array of `functions`.  The function should return all elements which pass all filter functions.

That is, if we have two functions:

[code]

and

[code]

then

[code]

- **Approach two**

[2016-01-19 18:51] gabrielperales commented on #84
Hey @coudrew , I just have created #85. I'm not a native english speaker... so, let me know If there is something that you can't understand, and I'll try to explain it again. Good luck :)

[2016-01-19 18:56] coudrew commented on #84
@gabrielperales awesome, thanks! :)

[2016-01-19 18:57] gabrielperales commented on #84
@coudrew Another thing, send me a message through [gitter](https://gitter.im/codingforeveryone/js) If you need some help.

[2016-01-19 18:57] #84 closed

[2016-01-20 13:34] coudrew commented on #85
@gabrielperales Ok. Solved, pushed, and merged (I hope it wasn't bad form to merge it on my own, but I wanted to see if it was just as easy as clicking a button). I went with approach #1.

[2016-01-20 16:24] gabrielperales commented on #85
hahaha, I think you should have made a pull request and wait until somebody merge it, but I hope It doesn't matter. Your solution looks good. I'll post what I had done (my solution) if I had to do it :)

[2016-01-22 20:57] #85 closed

[2016-01-23 17:38] thevjm opened #87 "new-member-16"
**Greatest Difference**

You will be given an array of arrays. Each nested array will contain a set of increasing positive integers. Your function should return the value of the greatest difference between any two sequential numbers within the same array.

For example...
[code]

[2016-01-23 17:41] thevjm commented on #82
Solved and merged. Nice kata.

[2016-01-24 21:43] mcelearr commented on #87
Hi @thevjm. I think I'd like to take this one on!

[2016-01-25 22:02] mcelearr opened #89 "New member 18 Quartile Methods"
Create a new object called `Stats` that has three methods:

<ul>
<li>Stats.median</li>
<li>Stats.lowerQuartile</li>
<li>Stats.upperQuartile</li>
</ul>

`median` should return the number at the midpoint in a sorted array. `lowerQuartile` should return the number one quarter of the way through the array. `upperQuartile` should return the number three quarters of the way through the array. When a cut

[2016-01-26 01:40] #87 closed

[2016-01-27 13:54] RichAWarren commented on #89
Ill take this one!

[2016-01-27 16:33] RichAWarren opened #90 "New Member-19 Self Descriptive Numbers!"
A number is self-descriptive when the n'th digit describes the amount n appears in the number.

E.g. 21200:

There are two 0's in the number, so the first digit is 2.

There is one 1 in the number, so the second digit is 1.

There are two 2's in the number, so the third digit is 2.

There are no 3's in the number, so the fourth digit is 0.

There are no 4's in the number, so the fifth digit is 0

[2016-01-29 21:05] #89 closed

[2016-02-02 19:22] Steadyx commented on #90
Going to try and solve this one.

[2016-02-06 11:04] davidnge commented on #90
just submitted the pull request for this solution.

[2016-02-15 15:13] coudrew opened #93 "New-member-20 2d Vector Translation on an (in)Finite Plane"
Create a function that returns the sum of 2 vectors *BUT* the returned vector must be within the bounds of a 10*10 area. Results outside the bounds should "wrap around" to stay inside. For example:
```translate2D([5,7],[2,-1]) //should return [7,6]```
```translate2D([8,9],[3,5]) //should return [1,4]```

[2016-02-22 13:50] #90 closed

[2016-02-22 13:53] RichAWarren opened #94 "New Member-21 Deficiently Abundant Perfect Amicable Numbers"
As we're a little light on problems at the moment, here's another from my vault:

For a given two numbers your mission is to derive a function that evaluates whether two given numbers are abundant, deficient or perfect and whether together they are amicable.

## Abundant Numbers

An abundant number or excessive number is a number for which the sum of its proper divisors is greater than the number

[2016-02-22 13:55] #82 closed

[2016-02-23 10:59] simoneferrero commented on #94
Hello!
I would like to solve this problem.

[2016-02-23 12:07] simoneferrero opened #96 "New-member-22 Largest pair sum in array"
I did not come up with this problem, but it was one of the first ones I solved on CodeWars.

Given an array of numbers, find the largest pair sum in the array.

For example

[10,14,2,23,19] should return 42 (i.e. sum of 23,19)

[99,2,2,23,19] should return 122 (i.e. sum of 99,23)

Here you can find the original: http://www.codewars.com/kata/556196a6091a7e7f58000018

[2016-02-23 13:12] RichAWarren commented on #94
Nice work, merged with master!

Changed file path to  js/new-member-problems/21-deficientlyAbundantAmicableNumbers/new-member-21-solution.js

(If you end your file name with .js it saves and displays as javascript!)

[2016-02-23 13:12] #94 closed

[2016-02-23 14:04] simoneferrero commented on #94
Good to know, thanks for the tip!

[2016-02-25 16:13] davidnge opened #97 "new-member-23 move Vowels"
Given a string as input, move all of its vowel to the end of the string.

Example input: day
Example output: dya

Example input: apple
Example output: pplae

Note: All input string are of small capital letters, and the order of the vowels at the end should be the same as they were before.

Here's the link to the kata on codewars: http://www.codewars.com/kata/56bf3287b5106eb10f000899

[2016-02-26 20:24] webtechalex commented on #96
I'll have a go at this one I think...

[2016-02-29 10:57] TroyMaeder commented on #97
That looks like fun! I'll take that one thanks David!

[2016-03-02 10:02] #96 closed

[2016-03-02 10:03] #71 closed

[2016-03-02 10:03] #53 closed

[2016-03-02 10:06] RichAWarren opened #100 "New Member-24 Take a ten minute walk!"
One of my favorites on Codewars!

## Take a ten minute walk

You live in the city of Cartesia where all roads are laid out in a perfect grid. You arrived ten minutes too early to an appointment, so you decided to take the opportunity to go for a short walk. The city provides its citizens with a Walk Generating App on their phones -- everytime you press the button it sends you an array of one-lette

[2016-03-03 20:44] TroyMaeder opened #102 "new-member-25 Between Extremes"
Given an array of numbers, return the difference between the largest and smallest values.

For example:

`[23, 3, 41, 21, 16]` should return `20` (i.e., 23 - 3).

`[1, 434, 555, 34, 112]` should return `554` (i.e., 555 - 1).

The array will contain a minimum of two elements.

This is the link to [Codewars](http://www.codewars.com/kata/56d19b2ac05aed1a20000430).

[2016-03-03 22:14] GiacomoSorbi commented on #102
Needs edge and random test cases.

Right now it also accepts sloppy solutions, but maybe that is ok with you,
aiming at creating a beginner kata with little to no emphasis on
performances.

On 3 March 2016 at 20:44, TroyMaeder <notifications@github.com> wrote:

[2016-03-04 09:10] #97 closed

[2016-03-07 17:10] nogainbar commented on #100
Hey Rich, I love this kata too and seems like a great opportunity to learn to use github! :)

[2016-03-08 11:53] #100 closed

[2016-03-12 14:31] webtechalex opened #104 "New member 26 Spoonerisms"
A spoonerism is a spoken phrase in which the first letters of two of the words are swapped around, often with amusing results.

This issue is taken from my very first [Codewars Kata](http://www.codewars.com/kata/56b8903933dbe5831e000c76)

In its most basic form a spoonerism is a two word phrase in which only the first letters of each word are swapped:

[code]

Your task is to create a function tha

[2016-03-12 21:58] Janechester commented on #104
Hey Alex,

Had an attempt at this one but got a little stuck when it came to removing the first letter from the original string.

`function spoon1(word1, word2){
return word1.slice(0,1) + word2 +  word2.slice(0,1) + word1;
}`

which would return:
`spoon("Jane", "Chester");
"JChester CJane"`

Not quite ideal!

Let me know what your suggestions might be on how to fix this one up...

[2016-03-12 23:53] webtechalex commented on #104
Great start, Jane.  You are very close.  To give you a clue, don't think of it so much as "removing" the letters from the strings as returning an "added up" string.
By the way, if you want to solve the Codewars kata as well you're going to have to come up with a version that takes a single string: ```"Jane Chester"``` rather than two separate ones :)  My apologies, I should have made that explicit

[2016-03-13 11:50] Janechester commented on #104
Thank you for the that hint Alex!

Bingo.

`function spoon(word1, word2){`
`return word2[0] + word1.slice(1) + " " + word1[0] + word2.slice(1);`
`}`

[2016-03-13 13:57] webtechalex commented on #104
Thanks Jane.  Well done!  Now try the Codewars version  ;) (link in original post)

[2016-03-13 13:57] #104 closed

[2016-03-20 15:41] TroyMaeder opened #105 "new-member-27 Paperboy"
You and your best friend Stripes have just landed your first high school jobs! You'll be delivering newspapers to your neighbourhood on weekends. For your services you'll be charging a set price depending on the quantity of the newspaper bundles.

The cost of deliveries is:

- $3.85 for 40 newspapers
- $1.93 for 20
- $0.97 for 10
- $0.49 for 5
- $0.10 for 1

Stripes is taking care of the footwork

[2016-03-20 15:46] TroyMaeder commented on #102
Hi @GiacomoSorbi,

I added some random test cases. Do you recommend any more?

With the sloppy solutions, that is fair enough. I didn't intend to make a more advanced kata. This is the first kata I've ever created and I'm a beginner myself.

I've also just created a new kata. If you care to take the time to check it out and give me some feedback.

[http://www.codewars.com/kata/56ed5f13c4e5d6c5b300

[2016-03-20 16:50] bradreeder commented on #105
Hey Troy. I already gave a solution to your last kata on codewars (its under the name Aquila). Will leave that issue open for someone else, assign this one to myself, and post my new kata afterwards as an issue. Many thanks (and maybe see you again tomorrow?)

[2016-03-20 20:36] TroyMaeder commented on #105
Hey Brad! Yes definitely I will be at the meet up tomorrow so I'll see you then!

[2016-03-20 23:29] bradreeder commented on #105
My solution is attached to the pull request I just made. The guide (contributing) said someone will merge if they're satisfied with the solution, so feel free to merge if you're happy with it, and let me know if there's anything else I should do.  :+1:

[2016-03-20 23:49] bradreeder opened #107 "new-member-28 Oracle: Coin Method"
This issue is from my first kata. You can post your solution [here](http://www.codewars.com/kata/56e60e54517a8c167e00154d) when finished to compare with other solutions.

## Introduction

The [I Ching](https://en.wikipedia.org/wiki/I_Ching) (Yijing, or Book of Changes) is an ancient Chinese book of sixty-four hexagrams. A hexagram is a figure composed of six stacked horizontal lines, where each li

[2016-03-21 10:04] #105 closed

[2016-03-30 07:44] TroyMaeder commented on #107
Hi Brad,  awesome Kata! Let me take it on and I'll come back with a solution a little later on : )

[2016-03-30 08:50] bradreeder commented on #107
Great, thanks Troy, let me know how you get on.

[2016-04-03 19:30] TroyMaeder commented on #107
I've created a pull request with a solution. Feel free to merge if it's okay.

https://github.com/codingforeveryone/js/pull/108

[2016-04-03 19:33] TroyMaeder opened #109 "new-member-29 Paperboy 2"
All of sudden you and Stripes find yourselves in a sticky situation. Your paper drop business has grown to the point where it's too much for just Stripes and you to handle. Simply, there are just too many houses and not enough of you. Since your job is to make sure the business runs smoothly, it's up to you to find a solution.

Create an object with a method that returns how many paperboys you nee

[2016-04-03 19:37] bradreeder commented on #107
I've just tested your solution and it works great. Nice work! Issue closed.

[2016-04-03 19:37] #107 closed

[2016-04-05 10:10] bradreeder commented on #102
Hi Troy, no one had tried this for a while, and I did your last paperboy issue and thought I should leave it for someone else. Created a pull request with the solution in if you could merge it. Thanks!

[2016-04-05 10:17] bradreeder opened #111 "new-member-30 After Midnight"
This issue is taken from my second kata. Feel free to submit [here](http://www.codewars.com/kata/56fac4cfda8ca6ec0f001746) upon completing to compare with other solutions.

## Instructions

Write a function that takes a negative or positive integer, which represents the number of minutes before
(-) or after (+) Sunday midnight, and returns the current day of the week and the current time in 24hr f

[2016-04-05 10:18] #102 closed

[2016-04-12 19:46] msachi opened #113 "new-member-31 Conference traveller"
Lucy loves to travel. Luckily she is a renowned computer scientist and gets to travel to international conferences using her department's budget.

Each year, Society for Exciting Computer Science Research (SECSR) organizes several conferences around the world. Lucy always picks one conference from that list that is hosted in a city she hasn't been to before, and if that leaves her with more than o

[2016-04-15 03:30] scottdemeo opened #115 "new-member-32: tails of the high seas"
*adapted from a beta kata of mine on codewars*

# Tails of the High Seas

*It is a little past midnight in your cool developer crib, and you have just received a shaky text from your most faithful client. Somewhere in your client's hushed emojis, you make out a plea for an emergency favor. Your client is adrift, stuck in the Caribbean ~~on his "modestly-sized" yacht~~, and a swashbucklin' galleon

[2016-04-15 13:08] #113 closed

[2016-04-15 13:10] msachi commented on #109
Hey, I posted my solution, feel free to merge and close the issue ☺️

[2016-04-19 23:48] lele21 commented on #111
Hi @bradreeder, I'd like to take this one - just tried it on Codewars.

[2016-04-20 06:09] bradreeder commented on #111
Great, let me know how it goes @lele21 :)

[2016-05-27 11:51] marisid commented on #115
Hi, I will take this problem.

[2016-05-27 11:53] marisid commented on #115
Sorry I cannot find the problem in the repo.

[2016-05-27 11:55] marisid commented on #93
Hi @coudrew! Can I take this problem? Thx!

[2016-05-27 12:46] juliankolbe commented on #115
I would like to take this one! :)

[2016-06-01 11:03] juliankolbe commented on #115
posted solution now :)

[2016-06-06 17:08] juliankolbe opened #116 "new-member-33: Amount to coins"
## Amount to Coins

Write a function that converts a given amount to change in the levels of Euro.

#### Input will be:
* an integer with the amount e.g. `60`
* an array with the Euro levels: `[1000,500,200,100,50,20,10,5,2,1]`

#### Output should be:
* an object containing the number of levels used for each level, including those that were not used.
* example for `60`: `{1000: 0, 500: 0, 200: 0,

[2016-06-13 23:31] lele21 commented on #111
I've been a bit busy so it's taken a while, but I've posted the solution now @bradreeder :)

[2016-06-15 20:21] bradreeder commented on #111
No worries, I've just merged. 👍

[2016-06-15 20:21] #111 closed

[2016-07-01 10:17] stevehopkinson commented on #116
Hi Julian - I'll pick this one up. Ta!

[2016-07-01 11:08] stevehopkinson opened #119 "new-member-34: Calculate cost of basket"
## Calculate cost of basket

Write a function, `priceOfBasket`, that returns the total cost of a basket of items.

#### Input will be:
* an object containing keys (items available in the shop) and values (their prices): `{banana: 3, orange: 4, pear: 5, apple: 2}`
* an array of strings representing the individual items bought: `['banana', 'orange', 'apple', 'banana', 'orange', 'banana']`

#### Outp

[2016-07-01 13:34] juliankolbe commented on #116
Hi Steve, well done! Took a while for someone to have a go at it :P, Cheers!

[2016-07-01 13:34] #116 closed

[2016-07-09 14:08] SeyiAgboola commented on #119
I tried to work this out but I can't see to access my newBasket array to log the object prices:

---------------------

var totalCost = 0;
// an object containing keys (items available in the shop) and values (their prices):
// {banana: 3, orange: 4, pear: 5, apple: 2}
var itemPrices = {
  banana: 3,
  orange: 4,
  pear: 5,
  apple: 2
};
// an array of strings representing the individual items bou

[2016-07-27 08:31] stevehopkinson commented on #119
Hi Seyi - sorry for the slow reply! I haven't been receiving GitHub notifications for some reason.

A few thoughts on your code:

- When you're using a variable like newBasket[i] to retrieve a dictionary value, you need to use bracket notation rather than dot notation. So itemPrices[newBasket[i]] rather than itemPrices.newBasket[i].

- Your code currently adds the total cost to the value in itemPr

[2016-07-27 19:06] SeyiAgboola commented on #119
Thank you, I've got it now. Do I submit the answer here?

var totalCost = 0;
var itemPrices = {
banana: 3,
orange: 4,
pear: 5,
apple: 2
};

var newBasket = ['banana', 'orange', 'apple', 'banana', 'orange', 'banana'];

var priceofBasket = function(Basket) {
  for(var i in newBasket){
  totalCost += itemPrices[newBasket[i]];
  }

return totalCost;
}

priceOfBasket(newBasket);

[2016-07-31 20:27] stevehopkinson commented on #119
Great work Seyi! Almost there: I'd suggest one more tweak.

Your function currently only takes `Basket` as an argument, but that argument is never used within the function (it's still referencing the global variable 'newBasket', declared outside the function, which is why it's still working).

Ideally your function should take two arguments (`basket` and `itemPrices`) and only work with those two

[2016-11-26 10:51] frameture opened #120 "new-member-35: count chars in an array of strings"
<h3>Problem Specification</h3>

Implement `countChars(arrayOfStrings, char)` function, that is meant to count occurrences of given `char` character in  a given array of strings `arrayOfStrings`.

<h4> Parameters/arguments to the function:</h4>

- **arrayOfStrings** - an array of Strings, eg. ["abc", "123",  "a2c"]
- **char** - character to be counted, eg. "a", "2"

<h4>Return value:</h4>
An arrray

[2016-11-26 17:05] frameture commented on #120
Great Maja :)

The function performs the work, but forgets to return the value. Fixed it.
It is always good to test the code before submitting 👍

Now, it is your turn to open a new issue ;)

[2016-11-26 17:05] #120 closed

[2016-11-26 20:02] majakudlicka opened #122 "new-member-36: Uncamcelcase"
<h3>Problem Specification</h3>

Write a function Uncamelcase(str) that takes as an input a string (sentence) written in camelCase and turns it into a grammatically correct sentence.

<h4>Input:</h4>

- String (sentence) written in camelCase  eg. "learningHowToCodeIsFun"

<h4>Output:</h4>

- String - grammatically correct sentence (beginning with capital letter and ending with a dot) eg. "Learning

[2016-11-26 21:06] JWLD commented on #122
I'll give this one a go :)

[2016-11-27 14:02] majakudlicka commented on #122
Nice and clever solution to the problem. Congrats!

[2016-11-27 14:02] #122 closed

[2016-11-28 18:41] jwld opened #124 "new-member-37: Reverse Sort"
**Problem Specification**
Write a function that takes an array of numbers and sorts them, but in reverse - so it should sort by the final digit first, then the second last, then the third last etc.

**Example**
reverseSort([123, 45, 1179, 3359, 133, 613]) --> [613, 123, 133, 45, 3359, 1179]

[2017-02-20 15:30] eoinnoble commented on #124
Idly looking through these and found this one really interesting. Not sure if you're still looking at it, but here's an answer:

[code]

[2017-02-25 16:04] jwld commented on #124
Sorry for the delay in responding to this - I have intermittent internet access at the moment!

Great solution - I clearly underestimated how tricky that was. I'll close the issue - I believe you're meant to push the solution to practice with git, and then post a new problem (if you want 👍 ). Cheers!

[2017-02-25 16:04] #124 closed, assigned to nobody